In [1]:
import os
import pickle
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
from typing import List, Union

In [8]:
data_path = "../data/04_cricket_1999to2011.csv"

In [9]:
def get_data(data_path) -> Union[pd.DataFrame, np.ndarray]:
    """
    Loads the data from the given path and returns a pandas dataframe.

    Args:
        path (str): Path to the data file.

    Returns:
        pd.DataFrame, np.ndarray: Data Structure containing the loaded data
        
    """
    try:
        data = pd.read_csv(data_path)
        return data
    except FileNotFoundError:
        print(f"File not found at '{data_path}'. Please provide the correct path.")
        return None

In [10]:
get_data(data_path)

,Match,Date,Innings,Over,Runs,Total.Runs,Innings.Total.Runs,Runs.Remaining,Total.Out,Innings.Total.Out,...,at.bat.won.toss,at.bat.at.home,at.bat.bat.first,chose_bat_1st,chose_bat_2nd,forced_bat_1st,forced_bat_2nd,new.game,Error.In.Data,common.support
0,65193,14/05/1999,1,1,4,4,204,200,0,10,...,0,0,1,0,0,1,0,1,0,1
1,65193,14/05/1999,1,2,2,6,204,198,0,10,...,0,0,1,0,0,1,0,0,0,1
2,65193,14/05/1999,1,3,3,9,204,195,0,10,...,0,0,1,0,0,1,0,0,0,1
3,65193,14/05/1999,1,4,2,20,204,184,0,10,...,0,0,1,0,0,1,0,0,0,1
4,65193,14/05/1999,1,5,6,37,204,167,0,10,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126763,536933,11/12/2011,2,40,13,211,233,22,8,10,...,0,0,0,0,0,0,1,0,0,1
126764,536933,11/12/2011,2,41,1,212,233,21,8,10,...,0,0,0,0,0,0,1,0,0,1
126765,536933,11/12/2011,2,42,1,213,233,20,9,10,...,0,0,0,0,0,0,1,0,0,1
126766,536933,11/12/2011,2,43,11,224,233,9,9,10,...,0,0,0,0,0,0,1,0,0,1
126767,536933,11/12/2011,2,44,9,233,233,0,9,10,...,0,0,0,0,0,0,1,0,0,1